.listItem {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.number {
  margin-right: 20px;
}

.btn {
  width: 80px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(66, 140, 238);
  background-color: #fff;
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(24, 75, 241);
  transform: scale(1.05);
}

.list{
  margin-left: auto;
  margin-right: auto;
}
.errorText{
  text-align: center;
}
